@model IEnumerable<WebApplication1.Models.SearchClass>

@*@{
    ViewData["Title"] = "_ListOfNames";
}*@

<h2>Name List</h2>


<table class="table">
    <thead>
        <tr>
            <th scope="col" style="color:black">Name</th>
       

        </tr>
    </thead>
    <tbody>
        @foreach (SearchClass item in Model)
        {
        <tr>
       
            <td>@item.FullName</td>

        </tr>
        }
    </tbody>
</table>

<form asp-controller="Home" asp-action="SearchResults" method="get">


    <button type="submit" class="btn btn-primary">Search List</button>
</form>
<form asp-controller="Home" asp-action="ClearList" method="post">


    <button type="submit" class="btn btn-primary">Clear List</button>
</form>