@model SearchClass
@{
    ViewData["Title"] = "NameSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form asp-controller="Home" asp-action="SearchResults" method="post">
    <div class="labels">
        <label asp-for="FirstName">First Name:</label>
    </div>
    <div class="fields">
        <input type="text" asp-for="FirstName" />
    </div>
    <div class="labels">
        <label asp-for="MiddleName">Middle Name:</label>
    </div>
    <div class="fields">
        <input type="text" asp-for="MiddleName" />
    </div>
    <div class="labels">
        <label asp-for="LastName">Last Name:</label>
    </div>
    <div class="fields">
        <input type="text" asp-for="LastName" />
    </div>



    <div class="labels">
        <input type="submit" value="Search Name" />
    </div>
</form>