@using WebApplication1.Models;

@model SearchClass

@{
    ViewData["Title"] = "NameSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form asp-controller="Home" asp-action="AddToList" method="post">
    <div class="form-group">
        <label asp-for="FirstName">First Name:</label>
        <input type="text" asp-for="FirstName" class="form-control" placeholder="enter first name" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="MiddleName">Middle Name:</label>
        <input type="text" asp-for="MiddleName" class="form-control" placeholder="enter middle name" />
        <span asp-validation-for="MiddleName"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName">Last Name:</label>
        <input type="text" asp-for="LastName" class="form-control" placeholder="enter last name" />
        <span asp-validation-for="LastName"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add Name</button>
</form>


@if (Model.SavedNames != null && Model.SavedNames.Count != 0)
    {
        <partial name="_ListOfNames" model="@Model.SavedNames" />
    }
