/* ========================================================
   Site Header
   ======================================================== */

.site-header {
  padding: 25px 0;
  text-align: center;
  border-bottom: 1px solid #dedede;

  > .header {
    margin: 0;
    color: #6E7F89;
    font-size: 48px;
  }
}