@model EmployeeSearch.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee</title>
</head>
<body>
    <div> 
        Employee name :- @Model.EmployeeName (@Model.EmployeeSearchCount)
    </div>
</body>
</html>
