<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets>
      <target name="f1"  xsi:type="Console" layout="${message}" />
      <target name="f2" xsi:type="File" fileName="TextNameSearch.log"  layout="${longdate}|${level}|${callsite}|${message}\n${exception:format=tostring}" />
    </targets>
    <rules>
      <logger name="*" levels="Error,Info,Warn,Debug,Trace" writeTo="f1,f2" />
    </rules>
  </nlog>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>