@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This application is used to find a preset list of names within the content of any given text. The purpose of this application is to find employee names mentioned in news articles for a new employee engagement program.</p>
