@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Pittsburgh, PA 15228<br />
    <abbr title="Phone">P:</abbr>
    412.555.5555
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@thwerickards.net">support@thwerickards.net</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@thwerickards.net">marketing@thwerickards.net</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/the-christopher-rickard/">LinkedIn profile</a>
</address>
