.ReactTable .rt-table {
  overflow: visible;
}

.historyGrid.ReactTable .rt-th, .historyGrid.ReactTable .rt-td {
  overflow: visible;
  border: solid;
  border-width: 0px 0px 0px 0.5px;
  border-color: #ddd;
}

.ReactTable .rt-noData {
  margin-top: 12px;
  background: none;
}

.historyGrid .rt-table .-header {
  min-height: 40px;
}

.infoLink {
  color: black;
}

.infoLink:hover {
  color: blue;
}
